.navBarColor{
    background: rgb(24,3,19);
    background: linear-gradient(90deg, rgba(24,3,19,1) 0%, rgba(255,245,132,1) 100%);
}

body{
    background-color: rgb(0, 0, 0);
    color: rgb(210, 210, 210);
}

.bg{
    background: rgb(24,3,19);
background: linear-gradient(90deg, rgba(24,3,19,1) 0%, rgba(255,245,132,1) 100%);
}